<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"> JIKGUARD TECH PTE. LTD. </h4>
  </div>
  <div class="user-content">
    <p>
      Based in Singapore, is a game-security-focused service provider. We've developed a comprehensive game-security solution, including game protection, anti-cheat, anti-hack, online protection, and situational awareness.
    </p>
    <p>
      JikGuard has developed multiple industry-exclusive protection technologies. Trusted by over 500 global games. Visit <a href="http://www.jikguard.com"> JikGuard.com </a> for more information.
    </p>
  </div>
</div>
